########################
# CONFIG AND BIN FILES #
########################
.Xauthority
.byobu/
.config/Code - OSS/
.config/Electron/
.config/GIGAIDE/
.config/GIMP/
.config/Google/
.config/JetBrains/
.config/Kitware/
.config/Mousepad/
.config/PortProton.conf
.config/Postman/
.config/QtProject.conf
.config/QtProject/
.config/Thunar/
.config/atac/
.config/autostart/
.config/clangd/
.config/coc/
.config/codeblocks/
.config/cubocore/
.config/dconf/
.config/discord/
.config/drawio-nativefier-1f3e0a/
.config/enchant/
.config/figma-linux/
.config/fontconfig/
.config/geany/
.config/geeqie/
.config/go/
.config/gthumb/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ly/
.config/mc/
.config/menus/
.config/mimeapps.list
.config/nitrogen/
.config/pavucontrol.ini
.config/pulseaudio-config/
.config/pulseaudio-ctl/
.config/libreoffice/
.config/obsidian/
.config/chromium/
.config/pulse/
.config/qBittorrent/
.config/ristretto/
.config/skypeforlinux/
.config/sqlitebrowser/
.config/sxhkd/
.config/systemd/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/whatsapp-for-linux/
.config/xclicker.conf
.config/xfce4/
.config/yad.conf
.config/yandex-browser/
.config/yandex-music.conf
.config/yay/

.vscode-oss/
.wget-hsts
.yandex/
go/
Pywal/
meson/
obsidian/
gigaide-CE-251.26927.53/
yay/
.fonts/
.foxrc/
.gitconfig
.gnupg/
.gphoto/
.java/
.lesshst
.lgp/
.local/
.luarc.json
.mono/
.mozilla/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.p10k.zsh
.pki/
.psql_history
.pydevd_vscode/
.python_history
.shell.pre-oh-my-zsh
.sqlite_history
.ssh/
.steam/
.steampath
.steampid
.subversion/
.vim/
.viminfo
.visualizers/
.xinitrc
.xserverrc
.zcompdump-Grauverg-5.9.zwc
.zprofile
.zsh_history
.zshrc.pre-oh-my-zsh
pygitignore.template
xorg.conf.new

########################
#      CACHE FILES     #
########################
.Xresources
.bash*
node_modules
node_modules
.cache/dmenu_run
.cache/
.cache/chromium/
.cache/go-build/
.cache/fontconfig/
.zcompdump-Grauverg-5.9
.zcompdump-Grauverg-5.9-zwc

########################
#    PERSONAL FILES    #
########################
uni/
Desktop/
Documents/
Downloads/
Public/
Templates/
Videos/
photos/

python_projects/
token.git
